$blackColor: #202028;
$whiteColor: #f6f7f8;
$grayColor: #ccc;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

nav {
    & {
        display: flex;
        justify-content: space-around;
        min-height: 15vh;
        align-items: center;
        background-color: $blackColor;
        color: $whiteColor;
    }
    .logo {
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
    }
    .nav-links {
        display: flex;
        justify-content: space-around;
        width: 45%;
        text-transform: uppercase;
    }
    .nav-links a {
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
    }
    .nav-links a:hover {
        border-bottom: 1px solid $whiteColor;
    }
    .burger {
        font-size: 28px;
        display: none;
        cursor: pointer;
    }
}


@media all and (max-width: 768px) {
    nav {
        .burger {
            display: block;
        }
        .nav-links {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            height: 100vh;
            background-color: $blackColor;
            padding: 40px;
            width: 50%;
            transform: translateX(-500px);
            transition: 0.5s ease-in-out;
            z-index: 9999;
        }
        .nav-links li {
            padding: 25px;
            border-bottom: 1px solid $grayColor;
        }
        .nav-links li:last-of-type {
            border-bottom: 0px solid $grayColor;
        }
        nav .nav-links a:hover {
            border-bottom: 0px solid $whiteColor;
        }
    }
}